In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import scipy
from scipy.stats.qmc import Sobol
from scipy.stats import qmc
import matplotlib.pyplot as plt
import sys
sys.path.append('../../sample_utilities')
import samples
import json

In [3]:
target_volume = 10000
target_dilution = 0.1 # mol Si/L saxs sample
samples_write_fp = 'SampleTable_ReproReplicates_10000.csv'

### Calculate volumes from samples

In [4]:
with open('constants_Round2_2point85_straightNH3.json', 'rt') as f:
    constants = json.load(f)

In [5]:
sample_1 = [0.007526, 0.018891, 0.043859]

## Collate volume fractions into samples and get sample information

In [7]:
samples_gen = []
for sample_list in [sample_1]:
    for i in range(5):
        sample = samples.SolidSilicaSample(target_volume=target_volume, reactant_fp='./constants_Round2_2point85_straightNH3.json', teos_vol_frac=sample_list[0], ammonia_vol_frac=sample_list[1], water_vol_frac=sample_list[2])
        sample.calculate_reactant_volumes()
        sample.calculate_silica_mass_concentration()
        sample.calculate_silica_mass_fraction()
        sample.calculate_dilution_volumefraction(target_dilution)
        samples_gen.append(sample)
        print('final etoh vol: ', sample.ethanol_volume)

950.6225000000001
final etoh vol:  8346.6175
950.6225000000001
final etoh vol:  8346.6175
950.6225000000001
final etoh vol:  8346.6175
950.6225000000001
final etoh vol:  8346.6175
950.6225000000001
final etoh vol:  8346.6175

In [8]:
synth_table = samples.generate_synthesis_table(samples_gen)

In [9]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction
0,b832195b-dc4c-4140-96e9-7fee992f7edc,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527
1,b051bb0a-13b2-40fe-86ab-106ebad656b5,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527
2,3b7603a9-e804-4af1-922c-1667d26bf48d,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527
3,ec4beeba-a553-4e90-aef4-1da1488390d7,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527
4,644da4c1-2683-4e97-adff-5b72ff4754d1,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527

In [10]:
rows = ['A', 'B', 'C']
cols = [1, 2, 3, 4]

wells = []
for row in rows:
    for col in cols:
        wells.append(row + str(col))

In [11]:
synth_table['well'] = wells[len(synth_table):2*len(synth_table)]

In [12]:
synth_table

,uuid,teos_volume,ammonia_volume,water_volume,ethanol_volume,dilution_volume_fraction,silica_mass_conc,silica_mass_fraction,well
0,b832195b-dc4c-4140-96e9-7fee992f7edc,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527,B2
1,b051bb0a-13b2-40fe-86ab-106ebad656b5,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527,B3
2,3b7603a9-e804-4af1-922c-1667d26bf48d,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527,B4
3,ec4beeba-a553-4e90-aef4-1da1488390d7,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527,C1
4,644da4c1-2683-4e97-adff-5b72ff4754d1,214.491,188.91,1249.9815,8346.6175,2.965909,2.025686,0.002527,C2

In [13]:
synth_table.to_csv(samples_write_fp)

3